set -o vi
export EDITOR=vim
export FZF_DEFAULT_COMMAND='fd --type f --strip-cwd-prefix --hidden --exclude .git'
[ -d "/mnt/bigdata2/Ferris" ] && export FERRIS_SOURCE_DIR='/mnt/bigdata2/Ferris'

if [ -n "$BASH_VERSION" ]; then
  __lazy_load_fzf() {
    unset -f __lazy_load_fzf fzf fzf-tmux
    [ -f ~/.fzf.bash ] && source ~/.fzf.bash
  }
  fzf() { __lazy_load_fzf; command fzf "$@"; }
  fzf-tmux() { __lazy_load_fzf; command fzf-tmux "$@"; }
elif [ -n "$ZSH_VERSION" ]; then
  __lazy_load_fzf() {
    unset -f __lazy_load_fzf fzf fzf-tmux
    [ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
  }
  fzf() { __lazy_load_fzf; command fzf "$@"; }
  fzf-tmux() { __lazy_load_fzf; command fzf-tmux "$@"; }
fi
